/* Include library files */
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

/* Include ui-element files */
@import './ui-elements/inputField';
@import './ui-elements/pageLoader';
@import './ui-elements/inputDateTimeField';
@import './ui-elements/toggleBtnGrp';

/* Include layout files */
@import './layouts/login';
@import './layouts/taskboard';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: #F8F8FA !important;
  background-color: #dee2e6 !important;
}