.login-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .login-wrapper {
    width: 450px;

    .login-header {
      background-color: #2196f3 !important;

      i {
        color: #FFFFFF;
        font-size: 30px;
      }
    }

    .register-link {
      padding: 5px;

      a {
        font-size: 12px;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}