.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .navbar-left-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    i {
      font-size: 30px;
      margin-right: 12px;
      color: #2196f3;
    }

    .app-name {
      align-self: center;

      h5 {
        font-size: 25px;
        color: #2196f3;
        font-weight: bold;
      }
    }
  }

  .navbar-right-wrapper {
    button {
      color: #2196f3;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

.add-todo-wrapper {
  background-color: #2196f3;
  height: 100vh;
  padding: 10px 20px;

  .add-todo-heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    i {
      color: #FFFFFF;
      font-size: 22px;
      margin-right: 10px;
    }

    h5 {
      color: #FFFFFF;
      align-self: baseline;
      font-size: 18px;
    }
  }

  .add-todo-btn {
    button {
      color: #2196f3;
      font-size: 15px;
      font-weight: bold;
    }

    button:hover {
      background-color: #FFFFFF;
    }
  }
}

.view-todo-wrapper {
  padding: 10px 20px;

  .view-todo-heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    i {
      font-size: 22px;
      margin-right: 10px;
    }

    h5 {
      align-self: baseline;
      font-size: 18px;
    }
  }

  .todo-container {

    .todo-des {
      font-size: 15px;
    }

    .todo-date {
      font-size: 12px;
    }

    .todo-actions {

      button {
        text-transform: none;
        font-size: 12px;
        margin-top: 4px;
      }
    }
  }
}

.heading-style {
  font-size: 14px;
}

.value-style {
  font-size: 14px;
}