.input-field-wrapper {
  margin-bottom: 20px;

  .input-field-helper-text {
    font-size: 0.75rem;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .input-error {
    color: red;
  }
}

.input-field-wrapper-margin {
  margin-bottom: 8px !important;
}