.date-time-wrapper {
  margin-bottom: 15px;

  .input-date-time-helper-text {
    font-size: 0.75rem;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.white-label {
  label {
    color: #FFFFFF;
  }

  button {
    color: #FFFFFF;
  }

  .input-date-time-helper-text {
    color: #FFFFFF;
  }
}