.pageLoader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.5) !important;
  width: 100%;
  position: fixed;
  z-index: 99999999999999999;

  .loader {
    position: absolute;
    left: 50%;
    top: 45%;
    color: #FFFFFF !important;
  }
}